@import 'mixin';
@import 'variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    font-family: 'Inconsolata', monospace;
    font-family: 'Lora', serif;
    font-family: 'Martian Mono', monospace;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;

    li {
        list-style: none;
    }

}

.container {
    width: 100%;
    max-width: 1110px;
    padding: 0px 20px;
    margin: 0 auto;
}

// ----------------------------- NAVBAR -----------------------------
nav {
    width: 100%;
    position: fixed;
    z-index: 2;
    background-color: white;
    top: 0;
    left: 0;

    .nav-top {
        width: 100%;
        background-color: $green;

        .nav-top-center {
            width: 100%;
            padding: 10px 0px;
            @include display(space-between, center);

            ul {
                display: flex;
                gap: 15px;

                li {
                    color: white;
                    font-size: 12px;

                    i {
                        font-size: 14px;
                    }

                    a {
                        color: white;
                    }
                }
            }
        }
    }

    .nav-bottom {
        width: 100%;
        position: relative;
        transition: background-color 0.5s, color 0.3s, padding 0.3s;


        .menu-lists {
            background-color: white;
            display: none;
            width: 100%;

            li {
                border: 1px solid $gray;
                padding: 16px 24px;
            }
        }

        .nav-bottom-center {
            width: 100%;
            padding: 20px 0px;
            @include display(space-between, center);

            a {
                text-decoration: none;
                color: black;
            }

            h3 {
                font-size: 25px;
                font-weight: 400;
            }

            .navigation {
                width: 100%;
                padding-left: 70px;
                @include display(space-between, center);

                ul {
                    display: flex;
                    gap: 30px;
                }

                li a {
                    font-weight: 300;

                    &:hover {
                        transition: all 10s ease;
                        text-decoration: underline;
                    }
                }

                .card-basket {
                    @include display;
                    gap: 15px;
                    font-size: 20px;
                    cursor: pointer;
                    padding-right: 10px;

                    h5 {
                        font-weight: 400;
                    }

                    span {
                        background-color: $green;
                        font-size: 12px;
                        font-weight: 500;
                        padding: 3px 7px;
                        color: white;
                        border-radius: 9999px;
                    }

                    p {
                        rotate: 90deg;
                    }
                }

                .bi-list {
                    width: 100%;
                    height: 100%;
                    display: none;
                    font-size: 30px;
                    border-left: 2px solid gray;
                    padding-left: 10px;
                    cursor: pointer;
                }
            }
        }
    }
}

// ----------------------------- BANNER -----------------------------
#banner {
    width: 100%;
    height: 95vh;
    background-image: url(./img1.jpg);
    @include image;
    @include display;
    flex-direction: column;
    margin: 0 auto;
    padding: 0px 30px;

    .openCatalog {
        margin-top: 100px;
        background-color: white;
        padding: 50px 70px;
        border-radius: 20px;
        @include display;
        flex-direction: column;
        gap: 20px;
        scale: 0;
        transition: all 1s ease;

        p {
            color: $green;
            font-weight: 700;
        }

        h3 {
            font-size: 45px;
            font-weight: 400;
            text-align: center;
        }

        button {
            padding: 20px;
            border: none;
            border-radius: 9999px;
            background-color: $green;
            color: white;
            font-size: 16px;
            scale: 0.95;
            cursor: pointer;

            &:hover {
                scale: 1;
                transition: all 0.5s ease;
                box-shadow: 0px 7px 18px 1px $green;
            }
        }
    }

    .banner-modal {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        background-color: rgba(1, 1, 1, 0.7);
        @include display;
        visibility: hidden;

        .modal {
            width: 35%;
            opacity: 1 !important;
            background-color: white;
            border-radius: 20px;


            .top {
                width: 100%;
                border-bottom: 2px solid $gray;
                padding: 30px;
                display: flex;
                justify-content: space-between;
                gap: 30px;

                i {
                    cursor: pointer;
                }
            }

            .bottom {
                width: 100%;
                padding: 100px 50px;
                @include display;
                font-size: 20px;
                text-align: center;

                i {
                    cursor: pointer;
                }
            }
        }
    }

    .mouse-icon {
        background-color: white;
        padding: 15px;
        font-size: 45px;
        border-radius: 9999px;
        position: absolute;
        bottom: 0;
        color: gray;
        box-shadow: 0 0 10px gray;
        cursor: pointer;
    }
}

// ----------------------------- Section-2 -----------------------------
.sec-2 {
    width: 100%;
    padding: 100px 0px;
    background-color: $back-color;

    .sec-2-center {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 20px;
        
        .left,
        .right {
            width: 100%;
            @include display(space-between, center);
            border-radius: 20px;
            padding: 0px 40px;
            img {
                width: 200px;
                height: 100%;
                position: relative;
                bottom: 40px;
                // @include display;
            }

            .text { 
                width: 100%;
                @include display;
                flex-direction: column;
                gap: 20px;

                h4 {
                    font-size: 22px;
                    color: white;
                }

                button {
                    padding: 10px 20px;
                    border: none;
                    border-radius: 9999px;
                    font-size: 17px;
                    background-color: white;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.1);
                        transition: all 0.5s ease;
                        box-shadow: 0 0 10px black;
                    }
                }
            }
        }

        .left {
            background-color: $orange;
        }

        .right {
            background-color: $pink;
        }
    }

}

// ----------------------------- Stuffed ANimals -----------------------------
// ----------------------------- Wooden Toys -----------------------------

.stuffed-animals,
.wooden-toys {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 70px;
    background-color: $back-color;

    .top {
        width: 100%;
        @include display(space-between, center);
        position: relative;

        h1 {
            font-size: 30px;
            font-weight: 500;
        }

        i {
            padding-left: 10px;
            font-size: 30px;
        }

        #text {
            font-size: 13px;
            font-weight: 700;
            @include display;
            cursor: pointer;
        }

        &::after {
            content: '';
            width: 130px;
            border-radius: 9999px;
            height: 1.5px;
            background-color: $gray;
            position: absolute;
            bottom: 0;
            right: 0;
        }

        &:hover::after {
            background-color: $green;
            transition: all 0.5s ease;
        }
    }

    .line {
        width: 100%;
        height: 2px;
        margin: 40px 0px;
        background-color: $gray;
        border-radius: 9999px;

        .inline {
            width: 150px;
            height: 100%;
            background-color: $green;
        }
    }

    .card-div {
        width: 100%;
        padding: 20px 0px;
        display: grid;
        grid-template-columns: repeat(4, auto);
        // @include display(space-between, center);

        .cards {
            width: 100%;
            padding: 30px 0px;
            @include display;
            flex-direction: column;
            background-color: white;
            box-shadow: 0 0 10px $gray;
            gap: 15px;
            border: 1px solid $gray;
            border-radius: 20px;
            scale: 0.95;

            img {
                width: 70%;
            }

            h3 {
                font-size: 15px;
            }

            button {
                width: 100px;
                background-color: $green;
                padding: 5px;
                color: white;
                border: none;
                border-radius: 9999px;
                cursor: pointer;
            }

            &:hover {
                cursor: pointer;
                transition: all 0.5s ease;
                scale: 1;
                box-shadow: 0 0 15px gray;
            }
        }
    }
}

// ----------------------------- Section-5 About-the-shop -----------------------------
.about-the-shop {
    width: 100%;
    padding: 100px 20px;
    background-image: url(./deer.jpg);
    @include image;
    background-attachment: fixed;
    @include display;
    flex-direction: column;
    gap: 20px;
    color: white;
    position: relative;
    z-index: 1;
    text-align: center;

    &:after {
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(1, 1, 1, 0.3);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    h5 {
        font-weight: 500;
    }

    h3 {
        font-size: 40px;
        font-weight: 400;
    }

    button {
        padding: 20px 20px;
        margin: 0 auto;
        border: none;
        background-color: $green;
        border-radius: 9999px;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
            transition: all 0.5s ease;
        }

        i {
            font-size: 30px;
            color: white;
        }
    }
}

// ----------------------------- Section-6 Made for Webflow -----------------------------
.madeForWebflow {
    width: 100%;
    padding: 100px 0px;
    background-color: $back-color;

    .madeForWebflow-center {
        width: 100%;
        @include display;
        flex-direction: column;
        gap: 100px;

        .top {
            width: 100%;
            margin: 0 auto;
            @include display;
            flex-direction: column;
            text-align: center;
            gap: 20px;

            p {
                font-weight: 700;
                color: $green;
            }

            h2 {
                font-size: 50px;
                width: 80%;
                font-weight: 400;
            }
        }

        .bottom {
            width: 100%;
            @include display;
            gap: 20px;

            .text {
                width: 100%;

                .divider {
                    width: 80px;
                    height: 3px;
                    margin-top: 8px;
                    margin-bottom: 23px;
                    background-color: #a5c926;
                }

                h1 {
                    font-size: 35px;
                    font-weight: 400;
                    padding-bottom: 15px;
                }

                p {
                    // font-size: 18px;
                    color: gray;
                    padding-bottom: 22px;
                }

                button {
                    padding: 15px 30px;
                    border: none;
                    border-radius: 9999px;
                    background-color: $green;
                    color: white;
                    font-weight: 700;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.1);
                        transition: all 0.5s ease;
                        box-shadow: 0px 7px 18px 1px $green;
                    }
                }
            }

            img {
                width: 49%;
                border-radius: 20px;
            }

        }
    }
}

// ----------------------------- Section-7-subscribe     -----------------------------
.subscribe {
    width: 100%;
    padding: 40px 0px;
    background-color: $back-color;

    .subscribe-center {
        width: 100%;
        background-color: white;
        border-radius: 20px;
        padding: 40px 30px;
        box-shadow: 0 0 10px grey;
        @include display(space-between, center);

        .left {
            display: flex;
            @include display;
            gap: 20px;

            i {
                font-size: 55px;
                color: $green;
            }

            h4 {
                font-size: 23px;
                font-weight: 500;

                span {
                    color: $green;
                }
            }
        }

        .input {
            display: flex;
            gap: 20px;

            input {
                padding: 10px 20px;
                padding-right: 130px;
                background-color: $back-color;
                border-radius: 9999px;
                border: 1px solid gray;
                font-size: 17px;
            }

            button {
                padding: 15px 30px;
                border: none;
                border-radius: 9999px;
                background-color: $green;
                color: white;
                font-weight: 700;
                cursor: pointer;

                &:hover {
                    transform: scale(1.1);
                    transition: all 0.5s ease;
                    box-shadow: 0px 7px 18px 1px $green;
                }
            }
        }
    }
}

// ----------------------------- Section-8-ElasticThemes-----------------------------
.elastic-themes {
    width: 100%;
    padding: 70px 0px;
    background-color: $back-color;

    .elastic-themes-center {
        width: 100%;
        @include display;
        flex-direction: column;
        gap: 80px;

        .top {
            width: 100%;
            margin: 0 auto;
            @include display;
            flex-direction: column;
            text-align: center;
            gap: 20px;

            p {
                font-weight: 700;
                color: $green;
            }

            h2 {
                font-size: 40px;
                font-weight: 400;
            }
        }

        .bottom {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(6, auto);
            gap: 12px;

            img {
                width: 100%;
                border-radius: 20px;

                &:hover {
                    transform: scale(1.1);
                    transition: all 0.5s ease;
                    box-shadow: 0px 7px 18px 2px gray;
                }
            }
        }

        button {
            padding: 20px 35px;
            border: none;
            border-radius: 9999px;
            background-color: $green;
            color: white;
            font-weight: 700;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
                transition: all 0.5s ease;
                box-shadow: 0px 7px 18px 1px $green;
            }
        }
    }
}

// ----------------------------- Footer-----------------------------
footer {
    width: 100%;
    padding: 40px 0px;
    background-color: $green;
    color: white;

    .footer-center {
        width: 100%;
        @include display(space-between, center);
        flex-direction: column;

        .top {
            width: 100%;
            padding-bottom: 50px;
            @include display(space-between, center);
            flex-wrap: wrap;
            gap: 50px;

            a {
                text-decoration: none;
                color: white;
            }

            h3 {
                font-size: 25px;
                font-weight: 400;
            }

            ul {
                display: flex;
                gap: 30px;
            }

            li a {
                font-weight: 300;

                &:hover {
                    transition: all 10s ease;
                    text-decoration: underline;
                }
            }
        }

        .line {
            width: 100%;
            height: 1px;
            background-color: $back-color;
        }

        .bottom {
            width: 100%;
            padding-top: 30px;
            @include display(space-between, center);
            font-size: 15px;
            flex-wrap: wrap;
            gap: 20px;

            a {
                color: white;
            }

            div {
                @include display;
                font-size: 13px;

                li {
                    list-style: disc;
                    padding-left: 10px;
                }

                #li {
                    list-style: none;
                }
            }
        }


    }
}











@media screen and (max-width:992px) {
    .container {
        padding: 0px 36px;
        @include display;
    }

    nav .nav-bottom .nav-bottom-center {
        .navigation {
            width: min-content;

            ul {
                display: none;
            }

            .bi-list {
                display: block;
            }
        }
    }
    #banner .banner-modal .modal{
        width: 55%;
    }

    .sec-2 {
        .sec-2-center {
            grid-template-columns: repeat(1, auto);
            width: 75%;
            margin: 0 auto;
            .right{
                position: relative;
                top: 50px;
            }
        }
    }

    .stuffed-animals .card-div,
    .wooden-toys .card-div {
        grid-template-columns: repeat(2, auto);

    }

    .madeForWebflow .madeForWebflow-center .bottom {
        flex-direction: column-reverse;

        .text {
            @include display;
            flex-direction: column;
            text-align: center;
        }

        img {
            width: 90%;
        }
    }

    .subscribe .subscribe-center {
        width: 70%;
        flex-direction: column;
        gap: 30px;
        .left{
            flex-direction: column;
            text-align: center;
        }
        .input {
            width: 100%;
            flex-direction: column;
        }
    }

    .elastic-themes .elastic-themes-center .bottom {
        grid-template-columns: repeat(3, auto);
    }
}





@media screen and (max-width:479px) {

    .stuffed-animals .card-div,
    .wooden-toys .card-div {
        grid-template-columns: repeat(1, auto);

    }

    .sec-2 {
        .sec-2-center {
            grid-template-columns: repeat(1, auto);
            width: 70%;
            margin: 0 auto;
            .left{
                flex-direction: column;
                padding-bottom: 40px;

            }
            .right{
                flex-direction: column-reverse;
                padding-bottom: 40px;
            }
        }
    }
}


@media screen and (max-width :760px) {
    #banner .openCatalog {
        padding: 30px;
        margin-top: 40px;
    }
    .sec-2 {
        .sec-2-center {
            grid-template-columns: repeat(1, auto);
            width: 100%;
            margin: 0 auto;

        }
    }
    #banner .banner-modal .modal{
        width: 70%;
    }



}

@media screen and (max-width :552px) {
    #banner .openCatalog {
        margin-top: 150px;
        padding: 15px;
    }
    .sec-2 {
        .sec-2-center {
            grid-template-columns: repeat(1, auto);
            width: 100%;
            margin: 0 auto;
            .left .text button , .right .text button{
                padding: 10px 10px;
            }
        }
    }
}