* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Dancing Script", cursive;
  font-family: "Inconsolata", monospace;
  font-family: "Lora", serif;
  font-family: "Martian Mono", monospace;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}
* li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1110px;
  padding: 0px 20px;
  margin: 0 auto;
}

nav {
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: white;
  top: 0;
  left: 0;
}
nav .nav-top {
  width: 100%;
  background-color: #a5c926;
}
nav .nav-top .nav-top-center {
  width: 100%;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-top .nav-top-center ul {
  display: flex;
  gap: 15px;
}
nav .nav-top .nav-top-center ul li {
  color: white;
  font-size: 12px;
}
nav .nav-top .nav-top-center ul li i {
  font-size: 14px;
}
nav .nav-top .nav-top-center ul li a {
  color: white;
}
nav .nav-bottom {
  width: 100%;
  position: relative;
  transition: background-color 0.5s, color 0.3s, padding 0.3s;
}
nav .nav-bottom .menu-lists {
  background-color: white;
  display: none;
  width: 100%;
}
nav .nav-bottom .menu-lists li {
  border: 1px solid #e5e5e5;
  padding: 16px 24px;
}
nav .nav-bottom .nav-bottom-center {
  width: 100%;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-bottom .nav-bottom-center a {
  text-decoration: none;
  color: black;
}
nav .nav-bottom .nav-bottom-center h3 {
  font-size: 25px;
  font-weight: 400;
}
nav .nav-bottom .nav-bottom-center .navigation {
  width: 100%;
  padding-left: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-bottom .nav-bottom-center .navigation ul {
  display: flex;
  gap: 30px;
}
nav .nav-bottom .nav-bottom-center .navigation li a {
  font-weight: 300;
}
nav .nav-bottom .nav-bottom-center .navigation li a:hover {
  transition: all 10s ease;
  text-decoration: underline;
}
nav .nav-bottom .nav-bottom-center .navigation .card-basket {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  cursor: pointer;
  padding-right: 10px;
}
nav .nav-bottom .nav-bottom-center .navigation .card-basket h5 {
  font-weight: 400;
}
nav .nav-bottom .nav-bottom-center .navigation .card-basket span {
  background-color: #a5c926;
  font-size: 12px;
  font-weight: 500;
  padding: 3px 7px;
  color: white;
  border-radius: 9999px;
}
nav .nav-bottom .nav-bottom-center .navigation .card-basket p {
  rotate: 90deg;
}
nav .nav-bottom .nav-bottom-center .navigation .bi-list {
  width: 100%;
  height: 100%;
  display: none;
  font-size: 30px;
  border-left: 2px solid gray;
  padding-left: 10px;
  cursor: pointer;
}

#banner {
  width: 100%;
  height: 95vh;
  background-image: url(./img1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 0px 30px;
}
#banner .openCatalog {
  margin-top: 100px;
  background-color: white;
  padding: 50px 70px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  scale: 0;
  transition: all 1s ease;
}
#banner .openCatalog p {
  color: #a5c926;
  font-weight: 700;
}
#banner .openCatalog h3 {
  font-size: 45px;
  font-weight: 400;
  text-align: center;
}
#banner .openCatalog button {
  padding: 20px;
  border: none;
  border-radius: 9999px;
  background-color: #a5c926;
  color: white;
  font-size: 16px;
  scale: 0.95;
  cursor: pointer;
}
#banner .openCatalog button:hover {
  scale: 1;
  transition: all 0.5s ease;
  box-shadow: 0px 7px 18px 1px #a5c926;
}
#banner .banner-modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(1, 1, 1, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
#banner .banner-modal .modal {
  width: 35%;
  opacity: 1 !important;
  background-color: white;
  border-radius: 20px;
}
#banner .banner-modal .modal .top {
  width: 100%;
  border-bottom: 2px solid #e5e5e5;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
#banner .banner-modal .modal .top i {
  cursor: pointer;
}
#banner .banner-modal .modal .bottom {
  width: 100%;
  padding: 100px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
}
#banner .banner-modal .modal .bottom i {
  cursor: pointer;
}
#banner .mouse-icon {
  background-color: white;
  padding: 15px;
  font-size: 45px;
  border-radius: 9999px;
  position: absolute;
  bottom: 0;
  color: gray;
  box-shadow: 0 0 10px gray;
  cursor: pointer;
}

.sec-2 {
  width: 100%;
  padding: 100px 0px;
  background-color: #f8f8f8;
}
.sec-2 .sec-2-center {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
}
.sec-2 .sec-2-center .left,
.sec-2 .sec-2-center .right {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  padding: 0px 40px;
}
.sec-2 .sec-2-center .left img,
.sec-2 .sec-2-center .right img {
  width: 200px;
  height: 100%;
  position: relative;
  bottom: 40px;
}
.sec-2 .sec-2-center .left .text,
.sec-2 .sec-2-center .right .text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.sec-2 .sec-2-center .left .text h4,
.sec-2 .sec-2-center .right .text h4 {
  font-size: 22px;
  color: white;
}
.sec-2 .sec-2-center .left .text button,
.sec-2 .sec-2-center .right .text button {
  padding: 10px 20px;
  border: none;
  border-radius: 9999px;
  font-size: 17px;
  background-color: white;
  cursor: pointer;
}
.sec-2 .sec-2-center .left .text button:hover,
.sec-2 .sec-2-center .right .text button:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
  box-shadow: 0 0 10px black;
}
.sec-2 .sec-2-center .left {
  background-color: #ffc12c;
}
.sec-2 .sec-2-center .right {
  background-color: #fb416b;
}

.stuffed-animals,
.wooden-toys {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 70px;
  background-color: #f8f8f8;
}
.stuffed-animals .top,
.wooden-toys .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.stuffed-animals .top h1,
.wooden-toys .top h1 {
  font-size: 30px;
  font-weight: 500;
}
.stuffed-animals .top i,
.wooden-toys .top i {
  padding-left: 10px;
  font-size: 30px;
}
.stuffed-animals .top #text,
.wooden-toys .top #text {
  font-size: 13px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.stuffed-animals .top::after,
.wooden-toys .top::after {
  content: "";
  width: 130px;
  border-radius: 9999px;
  height: 1.5px;
  background-color: #e5e5e5;
  position: absolute;
  bottom: 0;
  right: 0;
}
.stuffed-animals .top:hover::after,
.wooden-toys .top:hover::after {
  background-color: #a5c926;
  transition: all 0.5s ease;
}
.stuffed-animals .line,
.wooden-toys .line {
  width: 100%;
  height: 2px;
  margin: 40px 0px;
  background-color: #e5e5e5;
  border-radius: 9999px;
}
.stuffed-animals .line .inline,
.wooden-toys .line .inline {
  width: 150px;
  height: 100%;
  background-color: #a5c926;
}
.stuffed-animals .card-div,
.wooden-toys .card-div {
  width: 100%;
  padding: 20px 0px;
  display: grid;
  grid-template-columns: repeat(4, auto);
}
.stuffed-animals .card-div .cards,
.wooden-toys .card-div .cards {
  width: 100%;
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 10px #e5e5e5;
  gap: 15px;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  scale: 0.95;
}
.stuffed-animals .card-div .cards img,
.wooden-toys .card-div .cards img {
  width: 70%;
}
.stuffed-animals .card-div .cards h3,
.wooden-toys .card-div .cards h3 {
  font-size: 15px;
}
.stuffed-animals .card-div .cards button,
.wooden-toys .card-div .cards button {
  width: 100px;
  background-color: #a5c926;
  padding: 5px;
  color: white;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
}
.stuffed-animals .card-div .cards:hover,
.wooden-toys .card-div .cards:hover {
  cursor: pointer;
  transition: all 0.5s ease;
  scale: 1;
  box-shadow: 0 0 15px gray;
}

.about-the-shop {
  width: 100%;
  padding: 100px 20px;
  background-image: url(./deer.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  color: white;
  position: relative;
  z-index: 1;
  text-align: center;
}
.about-the-shop:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.about-the-shop h5 {
  font-weight: 500;
}
.about-the-shop h3 {
  font-size: 40px;
  font-weight: 400;
}
.about-the-shop button {
  padding: 20px 20px;
  margin: 0 auto;
  border: none;
  background-color: #a5c926;
  border-radius: 9999px;
  cursor: pointer;
}
.about-the-shop button:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}
.about-the-shop button i {
  font-size: 30px;
  color: white;
}

.madeForWebflow {
  width: 100%;
  padding: 100px 0px;
  background-color: #f8f8f8;
}
.madeForWebflow .madeForWebflow-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}
.madeForWebflow .madeForWebflow-center .top {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}
.madeForWebflow .madeForWebflow-center .top p {
  font-weight: 700;
  color: #a5c926;
}
.madeForWebflow .madeForWebflow-center .top h2 {
  font-size: 50px;
  width: 80%;
  font-weight: 400;
}
.madeForWebflow .madeForWebflow-center .bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.madeForWebflow .madeForWebflow-center .bottom .text {
  width: 100%;
}
.madeForWebflow .madeForWebflow-center .bottom .text .divider {
  width: 80px;
  height: 3px;
  margin-top: 8px;
  margin-bottom: 23px;
  background-color: #a5c926;
}
.madeForWebflow .madeForWebflow-center .bottom .text h1 {
  font-size: 35px;
  font-weight: 400;
  padding-bottom: 15px;
}
.madeForWebflow .madeForWebflow-center .bottom .text p {
  color: gray;
  padding-bottom: 22px;
}
.madeForWebflow .madeForWebflow-center .bottom .text button {
  padding: 15px 30px;
  border: none;
  border-radius: 9999px;
  background-color: #a5c926;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.madeForWebflow .madeForWebflow-center .bottom .text button:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
  box-shadow: 0px 7px 18px 1px #a5c926;
}
.madeForWebflow .madeForWebflow-center .bottom img {
  width: 49%;
  border-radius: 20px;
}

.subscribe {
  width: 100%;
  padding: 40px 0px;
  background-color: #f8f8f8;
}
.subscribe .subscribe-center {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  padding: 40px 30px;
  box-shadow: 0 0 10px grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subscribe .subscribe-center .left {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.subscribe .subscribe-center .left i {
  font-size: 55px;
  color: #a5c926;
}
.subscribe .subscribe-center .left h4 {
  font-size: 23px;
  font-weight: 500;
}
.subscribe .subscribe-center .left h4 span {
  color: #a5c926;
}
.subscribe .subscribe-center .input {
  display: flex;
  gap: 20px;
}
.subscribe .subscribe-center .input input {
  padding: 10px 20px;
  padding-right: 130px;
  background-color: #f8f8f8;
  border-radius: 9999px;
  border: 1px solid gray;
  font-size: 17px;
}
.subscribe .subscribe-center .input button {
  padding: 15px 30px;
  border: none;
  border-radius: 9999px;
  background-color: #a5c926;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.subscribe .subscribe-center .input button:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
  box-shadow: 0px 7px 18px 1px #a5c926;
}

.elastic-themes {
  width: 100%;
  padding: 70px 0px;
  background-color: #f8f8f8;
}
.elastic-themes .elastic-themes-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}
.elastic-themes .elastic-themes-center .top {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}
.elastic-themes .elastic-themes-center .top p {
  font-weight: 700;
  color: #a5c926;
}
.elastic-themes .elastic-themes-center .top h2 {
  font-size: 40px;
  font-weight: 400;
}
.elastic-themes .elastic-themes-center .bottom {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 12px;
}
.elastic-themes .elastic-themes-center .bottom img {
  width: 100%;
  border-radius: 20px;
}
.elastic-themes .elastic-themes-center .bottom img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
  box-shadow: 0px 7px 18px 2px gray;
}
.elastic-themes .elastic-themes-center button {
  padding: 20px 35px;
  border: none;
  border-radius: 9999px;
  background-color: #a5c926;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.elastic-themes .elastic-themes-center button:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
  box-shadow: 0px 7px 18px 1px #a5c926;
}

footer {
  width: 100%;
  padding: 40px 0px;
  background-color: #a5c926;
  color: white;
}
footer .footer-center {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
footer .footer-center .top {
  width: 100%;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
footer .footer-center .top a {
  text-decoration: none;
  color: white;
}
footer .footer-center .top h3 {
  font-size: 25px;
  font-weight: 400;
}
footer .footer-center .top ul {
  display: flex;
  gap: 30px;
}
footer .footer-center .top li a {
  font-weight: 300;
}
footer .footer-center .top li a:hover {
  transition: all 10s ease;
  text-decoration: underline;
}
footer .footer-center .line {
  width: 100%;
  height: 1px;
  background-color: #f8f8f8;
}
footer .footer-center .bottom {
  width: 100%;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  flex-wrap: wrap;
  gap: 20px;
}
footer .footer-center .bottom a {
  color: white;
}
footer .footer-center .bottom div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}
footer .footer-center .bottom div li {
  list-style: disc;
  padding-left: 10px;
}
footer .footer-center .bottom div #li {
  list-style: none;
}

@media screen and (max-width: 992px) {
  .container {
    padding: 0px 36px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav .nav-bottom .nav-bottom-center .navigation {
    width: -moz-min-content;
    width: min-content;
  }
  nav .nav-bottom .nav-bottom-center .navigation ul {
    display: none;
  }
  nav .nav-bottom .nav-bottom-center .navigation .bi-list {
    display: block;
  }
  #banner .banner-modal .modal {
    width: 55%;
  }
  .sec-2 .sec-2-center {
    grid-template-columns: repeat(1, auto);
    width: 75%;
    margin: 0 auto;
  }
  .sec-2 .sec-2-center .right {
    position: relative;
    top: 50px;
  }
  .stuffed-animals .card-div,
  .wooden-toys .card-div {
    grid-template-columns: repeat(2, auto);
  }
  .madeForWebflow .madeForWebflow-center .bottom {
    flex-direction: column-reverse;
  }
  .madeForWebflow .madeForWebflow-center .bottom .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .madeForWebflow .madeForWebflow-center .bottom img {
    width: 90%;
  }
  .subscribe .subscribe-center {
    width: 70%;
    flex-direction: column;
    gap: 30px;
  }
  .subscribe .subscribe-center .left {
    flex-direction: column;
    text-align: center;
  }
  .subscribe .subscribe-center .input {
    width: 100%;
    flex-direction: column;
  }
  .elastic-themes .elastic-themes-center .bottom {
    grid-template-columns: repeat(3, auto);
  }
}
@media screen and (max-width: 479px) {
  .stuffed-animals .card-div,
  .wooden-toys .card-div {
    grid-template-columns: repeat(1, auto);
  }
  .sec-2 .sec-2-center {
    grid-template-columns: repeat(1, auto);
    width: 70%;
    margin: 0 auto;
  }
  .sec-2 .sec-2-center .left {
    flex-direction: column;
    padding-bottom: 40px;
  }
  .sec-2 .sec-2-center .right {
    flex-direction: column-reverse;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 760px) {
  #banner .openCatalog {
    padding: 30px;
    margin-top: 40px;
  }
  .sec-2 .sec-2-center {
    grid-template-columns: repeat(1, auto);
    width: 100%;
    margin: 0 auto;
  }
  #banner .banner-modal .modal {
    width: 70%;
  }
}
@media screen and (max-width: 552px) {
  #banner .openCatalog {
    margin-top: 150px;
    padding: 15px;
  }
  .sec-2 .sec-2-center {
    grid-template-columns: repeat(1, auto);
    width: 100%;
    margin: 0 auto;
  }
  .sec-2 .sec-2-center .left .text button, .sec-2 .sec-2-center .right .text button {
    padding: 10px 10px;
  }
}/*# sourceMappingURL=style.css.map */